<div>
    <h2>Cadastro de Cliente</h2>
    <form (ngSubmit)="submitForm()" #clienteForm="ngForm">
      <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required [(ngModel)]="cadastro.nome">
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="cadastro.email">
      </div>
      <button type="submit" [disabled]="!clienteForm.valid">Cadastrar</button>
    </form>
  </div>
  
