
<div  class = "example-button-row" > 
    <img src="">

  <button  mat-button  color = "Black" >Clientes</button > 
  <button  mat-button  color = "Black" > Cartões </button > 
  <button  mat-button  color = "Black" > Compras </button > 
  <button  mat-button  desabilitado > Relatórios </button > 
  <a  mat-button  routerLink = " ." > Link </a > 
    
    <p>
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <div class="logo">
                <img src="assets\imagens\icons8-material-ui-96.png" alt="logo">
             </div>          
        <div class="container">
            <p>Clean Finance</p>
          </div>
          
          
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
      </p>

  

